* {
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --container-color: rgb(73, 73, 73);
}

body {
  background-color: rgb(46, 56, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2rem;
  margin-bottom: 5rem;
  color: white;
}

.Home-form {
  background-color: var(--container-color);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  padding-top: 4rem;
  .buttons {
    width: 100%;
    justify-content: space-between;
  }
}

.Lobby {
  display: flex;
  max-height: 80vh;
  max-width: 70%;
  .vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    min-width: 25rem;
    margin-left: 1rem;
    .user {
      background-color: var(--container-color);
      min-width: 100%;
      height: 50vh;
      margin: 1rem;
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .pepe {
        box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.5);
      }
    }
    .match-type {
      background-color: var(--container-color);
      color: white;
      min-width: 100%;
      height: 30vh;
      margin: 1rem;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        margin-bottom: 3rem;
      }
      .buttons {
        display: flex;
        .casual {
          background-color: rgb(47, 47, 70);
          color: plum;
          &:hover {
            background-color: rgb(65, 65, 97);
          }
        }
        .wager {
          background-color: rgb(33, 46, 31);
          color: rgb(123, 216, 123);
          &:hover {
            background-color: rgb(49, 68, 47);
          }
        }
      }
    }
  }

  .matches {
    background-color: var(--container-color);
    min-width: 30rem;
    max-width: 55rem;
    height: auto;
    max-height: 100%;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .match-card {
      background-color: rgba(0, 0, 0, 0.493);
      width: 100%;
      height: 5rem;
      margin: 1.5rem;
    }
  }
}

.Store {
  display: flex;
  max-height: 80vh;
  max-width: 70%;
  margin-right: unset;
  .vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    min-width: 25rem;
    margin-left: 1rem;
    .user {
      background-color: var(--container-color);
      min-width: 100%;
      height: 50vh;
      margin: 1rem;
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .pepe {
        box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.5);
      }
    }
    .purchase-item {
      background-color: var(--container-color);
      min-width: 100%;
      height: 30vh;
      margin: 1rem;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.5rem;
      .purchase-btn {
        background-color: rgb(117, 187, 117);
      }
      .cancel-btn {
        background-color: rgb(190, 122, 122);
      }
      .purchase-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          margin: 1rem;
        }
      }
    }
  }

  .items {
    background-color: var(--container-color);
    min-width: 30rem;
    max-width: 55rem;
    height: auto;
    max-height: 100%;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .item-card {
      background-color: rgba(0, 0, 0, 0.5);
      width: 10rem;
      height: 10rem;
      margin: 1.5rem;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: relative;
      cursor: pointer;
      transition: 200ms;
      &:hover {
        background-color: rgba(0, 0, 0, 0.75);
      }
      .cost {
        color: rgb(117, 187, 117);
      }
      .item-title {
        color: white;
        font-size: 1.25rem;
        &.uncommon {
          color: rgb(91, 148, 255);
        }
        &.rare {
          color: rgb(255, 208, 0);
        }
        &.impossible {
          color: rgb(255, 149, 167);
        }
      }
    }
  }
}

.Match {
  .canvas {
    background-color: grey;
  }
}
// #flip {
//   transform: rotateX(180deg);
// }
